@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
  font-family: 'Poppins', sans-serif !important;
}
a, a:hover, a:active, a:focus {
  outline:0;
  color: rgb(0, 180, 172) !important;
}
h1 {
  font-size: 58px !important;
  font-weight: 300 !important;
  color: #FFF;
  text-align: center;
  line-height: 100% !important;
}
h2 {
  font-size: 38px !important;
  font-weight: 300 !important;
  color: #FFF;
  text-align: left;
  line-height: 100% !important;
  margin-top: 40px !important;
}
h3 {
  font-size: 33px !important;
  font-weight: 500 !important;
  color: #000;
  text-align: left;
}
p {
  line-height: 1.75em !important;
  font-size: 16px;
}
.icon {
  font-family: Icons !important;
}
/************************ COMPOSITION ************************/
.page-container {
  display: flex;
  flex-direction: column;
}
.content {
  min-height: calc(100vh - 225px);
}
.footer {
  padding: 20px;
  border-top: 1px solid #F4F4F4;
  align-self: flex-end;
  height: 60px;
  width: 100%;
}
.link-footer {
  color: #000 !important;
  padding: 10px;
  margin: 0;
}
/************************* NAVIGATION *************************/
.logo {
  margin: 40px;
  width: 210px;
  height: 80px;
  display: inline-block;
  background: no-repeat url("./assets/images/logo_bookcorner.svg");
}
.navigation {
  color: #FFF;
  font-size: 15px;
}
.connect {
  display: inline-block;
  position: absolute;
  right: 0;
  margin: 42px;
}
.signup {
  font-weight: 600;
  color: #FFF !important;
  margin-right: 20px;
}
.sign {
  font-size: 15px;
  font-weight: 600;
  color: rgb(0, 180, 172) !important;
  background-color: #FFF;
  border-radius: 24px;
  padding: 12px 24px 12px 24px;
}
.sign:hover {
  color: #FFF !important;
  background-color: rgb(0, 180, 172);
}

.signout {
  font-size: 15px;
  font-weight: 600;
  color: #FFF!important;
  border: 2px solid #FFF ;
  border-radius: 24px;
  padding: 12px 24px 12px 24px;
  margin-right: 20px;
}
.signout:hover {
  color: #FFF !important;
  border: 2px solid rgb(0,0,0,0);
  background-color: rgb(0, 180, 172);
}

/************************* HEADERS *************************/
.headersearch{
  top: 0;
  z-index: -10;
  width: 100%;
  height: 480px;
  background-image: url("./assets/images/header-search.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-color: #cccccc;
}
.headerdetail{
  top: 0;
  z-index: -10;
  width: 100%;
  height: 360px;
  background-image: url("./assets/images/header-detail.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-color: #cccccc;
}
.headerpersonal{
  top: 0;
  z-index: -10;
  width: 100%;
  height: 360px;
  background-image: url("./assets/images/header-personal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-color: #cccccc;
}
.headeruser{
  top: 0;
  z-index: -10;
  width: 100%;
  height: 280px;
  background-image: url("./assets/images/header-user.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-color: #cccccc;
}
/************************* SEARCH *************************/
.searchform {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 60px;
}
.searchfield {
  font-size: 18px !important;
  height: 60px;
  width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.searchbutton {
  height: 60px;
}
.searchoption{
  color: #FFF;
  font-weight: 600;
  font-size: 16px;
  padding: 8px;
}

/************************* RESULTS *************************/
.resultscontainer{
  background-color: #FFFFFF;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.google{
  margin-top: 60px;
}
.cardbook {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  background-color: rgba(0,0,0,0);
  text-align: left;
  width: 150px;
  margin: 21px;
}
.cardbook:focus {
  outline: 0;
}
.authors {
  font-family: 'Poppins', sans-serif;
  color: #999;
  font-weight: 500;
  font-size: 14px;
  margin-top: 15px;
}
.cardbook .title {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.25em;
  color: #000;
  margin-top: 5px;
}
.imgcontainer {
  width: 150px;
  height: 210px;
  overflow: hidden;
  -webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.2);
  border-radius: 12px;
}
.cardbook img {
  width: 150px;
}
/************************* DETAIL *************************/
.backbutton {
  font-size: 15px;
  font-weight: 600;
  color: rgb(0, 180, 172) !important;
  background-color: #FFF;
  border-radius: 24px;
  padding: 12px 24px 12px 24px;
}
.backbutton:hover {
  color: #FFF !important;
  background-color: rgb(0, 180, 172);
}
.infodetail {
  margin-top: 85px;
  display: flex;
  flex-direction: row;
}
.infocontent {
  width: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.authorswhite {
  font-family: 'Poppins', sans-serif;
  color: #FFF;
  font-weight: 500;
  font-size: 14px;
  margin-top: 15px;
}
.contactbutton {
  font-size: 15px;
  font-weight: 600;
  color: #FFF !important;
  border-radius: 24px !important;
  background-color: rgb(0, 180, 172);
  padding: 12px 24px 12px 24px;
  margin-right: 10px;
}
.contactbutton:hover {
  color:  #FFF !important;
  background-color: rgb(0, 156, 149);
}

.leaflet-container {
  border-radius: 12px;
  width: 100%;
  height: 280px;
  -webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.2);
  margin-bottom: 60px;
}

/************************* USER *************************/
.classic-container {
  margin: 0 auto;
  max-width: 960px;
  margin-top: 100px;
  margin-bottom: 40px;
}
.addbutton {
  position: fixed;
  right: 20px;
  bottom: 30px;
  z-index: 1;
  background-color: rgb(0, 180, 172);
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 6px 20px 0px rgba(0,0,0,0.2);
}